dist: xenial
language: python
env:
  - ONNX_ML=1

addons:
  apt:
    packages:
      - build-essential
      - curl
      - git

python:
    - "2.7"
    - "3.5"
    - "3.6"

# the bug in coremltools 2.0 package makes it not work with keras > 2.1.6
install:
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      curl -L https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -o $HOME/miniconda.sh;
    else
      curl -L https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -o $HOME/miniconda.sh;
    fi
  - export ONNX_VERSION="==1.2.3"
  - cd $HOME && bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - export LD_LIBRARY_PATH="$HOME/miniconda/lib:$LD_LIBRARY_PATH"
  - export LIBRARY_PATH="$HOME/miniconda/lib:$LIBRARY_PATH"
  - export CPATH="$HOME/miniconda/include:$CPATH"
  - conda config --set always_yes yes --set changeps1 no
  - conda install -c conda-forge protobuf
  - conda install -c conda-forge numpy
  - conda install -c conda-forge cmake
  - cd $TRAVIS_BUILD_DIR && pip install -r requirements-dev.txt
  - cd $TRAVIS_BUILD_DIR && pip install -I "onnx$ONNX_VERSION"

  - cd $TRAVIS_BUILD_DIR && export PYTHONPATH=pwd
  - if [[ "$TRAVIS_PYTHON_VERSION" != "2.7" ]]; then
      pip install onnxruntime;
    fi

script:
  - python -m pytest --cov=scikitonx --cov-report=term --cov-report=html --cov-report=xml tests
