flatbuffers==2.0
humanfriendly
mpmath
nose
numpy
protobuf
codecov
coloredlogs
packaging
pandas
py-cpuinfo
pybind11
pyparsing
pyreadline3
pytest
pytest-cov
scipy
sympy
wheel

# docs
sphinx
sphinx_modern_theme_modified
sphinxcontrib-blockdiag
tqdm

# docs/examples
lightgbm
matplotlib