# tests
black
jinja2
ndonnx
onnxruntime-extensions; sys_platform != 'darwin'
onnxscript
pandas
py-cpuinfo
pybind11
pytest
pytest-cov
ruff
wheel

# docs/examples
xgboost
lightgbm; sys_platform != 'darwin'
matplotlib
