numpy
protobuf
codecov
pandas
py-cpuinfo
pybind11
pytest
pytest-cov
scipy
wheel

# docs
sphinx
sphinx_modern_theme_modified
sphinxcontrib-blockdiag
openpyxl

# docs/examples
lightgbm
matplotlib
onnxruntime
