autopep8
codecov
coverage
flake8
joblib
lightgbm
loky
matplotlib
mlinsights
mlprodict
nbsphinx
onnx
onnxruntime
pillow
py-spy
pandas
pyinstrument
pyquickhelper>=1.9.3359
pytest
pytest-cov
scikit-learn
skl2onnx
sphinx
sphinx_readable_theme
sphinxcontrib-blockdiag
sphinxcontrib.imagesvg
sphinx-gallery
tabulate
tqdm
wheel
xgboost
