autopep8
catboost
category_encoders
codecov
coverage
flake8
joblib
lightgbm
loky
matplotlib
mlinsights>=0.3.631
mlprodict>=0.4.1259
nbsphinx
onnx
onnxruntime
pillow
py-spy
pandas
pydata_sphinx_theme
pydot
pyinstrument
pyod
pyquickhelper>=1.11.3762
pytest
pytest-cov
scikit-learn>=1.1
skl2onnx
sphinx
sphinxcontrib-blockdiag
sphinx-gallery
tabulate
tqdm
wheel
xgboost
