autopep8
catboost
category_encoders
coverage
flake8
furo
joblib
lightgbm; sys_platform != 'darwin'
loky
matplotlib
mlinsights>=0.5.2
nbsphinx
onnx
onnx-array-api
onnxmltools
onnxruntime
pillow
py-spy
pandas
pydot
pyinstrument
pyod
pytest
pytest-cov
skl2onnx
sphinx
sphinx-gallery
sphinx-runpython
tabulate
tqdm
wheel
xgboost
