autopep8
category_encoders
codecov
coverage
flake8
joblib
lightgbm
loky
matplotlib
mlinsights>=0.2.508
mlprodict>=0.4.1259
nbsphinx
onnx
onnxruntime
pillow
py-spy
pandas
pydot
pyinstrument
pyod
pyquickhelper>=1.9.3359
pytest
pytest-cov
scikit-learn>=0.23
skl2onnx
sphinx
sphinx_readable_theme
sphinxcontrib-blockdiag
sphinxcontrib.imagesvg
sphinx-gallery
tabulate
tqdm
wheel
xgboost
