# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
- master

jobs:

- job: 'Test'
  pool:
    vmImage: 'ubuntu-latest'
  strategy:
    matrix:
      Py37-Onnx170-Rt130-Skl0231:
        do.bench: '0'
        python.version: '3.7'
        numpy.version: '>=1.18.1'
        onnx.version: '==1.7.0'
        onnx.target_opset: ''
        onnxrt.version: 'onnxruntime==1.3.0'  # '-i https://test.pypi.org/simple/ ort-nightly'
        sklearn.version: '==0.23.1'
        onnxcc.version: 'git'
        run.example: '1'
      Py37-Onnx170-Rt120-Skl0230-Op11:
        do.bench: '0'
        python.version: '3.7'
        numpy.version: '>=1.18.1'
        onnx.version: '==1.7.0'
        onnx.target_opset: '11'
        onnxrt.version: 'onnxruntime==1.2.0'
        onnxcc.version: 'git'
        sklearn.version: '==0.23.0'
        run.example: '0'
      Py37-Onnx160-Rt120-Skl0230:
        do.bench: '0'
        python.version: '3.7'
        numpy.version: '>=1.18.1'
        onnx.version: '==1.6.0'
        onnx.target_opset: ''
        onnxcc.version: '==1.6.1'
        onnxrt.version: 'onnxruntime==1.2.0'
        sklearn.version: '==0.23.0'
        run.example: '0'
      Py37-Onnx160-Rt111-Skl0222:
        do.bench: '0'
        python.version: '3.7'
        numpy.version: '>=1.18.1'
        onnx.version: '==1.6.0'
        onnx.target_opset: ''
        onnxcc.version: '==1.6.1'
        onnxrt.version: 'onnxruntime==1.1.1'
        sklearn.version: '==0.22.2'
        run.example: '0'
      Py37-Onnx160-Rt100-Skl0213:
        do.bench: '0'
        python.version: '3.7'
        numpy.version: '==1.18.1'
        onnx.version: '==1.6.0'
        onnx.target_opset: ''
        onnxcc.version: '==1.6.1'
        onnxrt.version: 'onnxruntime==1.0.0'
        sklearn.version: '==0.21.3'
        run.example: '0'
      Py37-Onnx150-Rt050-Skl0213:
        do.bench: '0'
        python.version: '3.7'
        numpy.version: '==1.17.4'
        onnx.version: '==1.5.0'
        onnx.target_opset: ''
        onnxcc.version: '==1.6.1'
        onnxrt.version: 'onnxruntime==0.5.0'
        sklearn.version: '==0.21.3'
        run.example: '0'
      Py37-Onnx150-Rt040-Skl0203:
        do.bench: '0'
        python.version: '3.7'
        numpy.version: '==1.17.4'
        onnx.version: '==1.5.0'
        onnx.target_opset: ''
        onnxrt.version: 'onnxruntime==0.4.0'
        onnxcc.version: '==1.6.1'
        sklearn.version: '==0.20.3'
        run.example: '0'
      Py36-Onnx141-Rt030-Skl0203:
        do.bench: '0'
        python.version: '3.6'
        numpy.version: '==1.16.5'
        onnx.version: '==1.4.1'
        onnx.target_opset: ''
        onnxrt.version: 'onnxruntime==0.3.0'
        sklearn.version: '==0.20.3'
        run.example: '0'
      Py36-Onnx130-Rt021-Skl0203:
        do.bench: '0'
        python.version: '3.6'
        numpy.version: '==1.16.5'
        onnx.version: '==1.3.0'
        onnx.target_opset: ''
        onnxrt.version: 'onnxruntime==0.2.1'
        onnxcc.version: '==1.6.1'
        sklearn.version: '==0.20.3'
        run.example: '0'
      Py35-Onnx150-Rt021-Skl0192:
        do.bench: '0'
        python.version: '3.5'
        numpy.version: '<=1.16.5'
        onnx.version: '==1.5.0'
        onnx.target_opset: ''
        onnxrt.version: 'onnxruntime==0.2.1'
        onnxcc.version: '==1.6.1'
        sklearn.version: '==0.19.2'
        run.example: '0'
    maxParallel: 3

  steps:
  - script: |
      sudo install -d -m 0777 /home/vsts/.conda/envs
    displayName: Fix Conda permissions

  - task: CondaEnvironment@1
    inputs:
      createCustomEnvironment: true
      environmentName: 'py$(python.version)'
      packageSpecs: 'python=$(python.version)'

  - script: |
      test '$(python.version)' == '3.7' && apt-get install protobuf-compiler libprotoc-dev
      conda config --set always_yes yes --set changeps1 no
      conda install -c conda-forge "numpy$(numpy.version)"
      conda install protobuf
      python -m pip install --upgrade pip
    displayName: 'Install environment'

  - script: |
      conda install "numpy$(numpy.version)"
    displayName: 'install numpy'

  - script: |
      if [ '$(sklearn.version)' == 'git' ]
        then
          git clone https://github.com/scikit-learn/scikit-learn.git --recursive
          python setup.py install
        else
          pip install scikit-learn$(sklearn.version)
      fi
    displayName: 'install scikit-learn'

  - script: |
      if [ '$(onnx.version)' == 'git' ]
        then
          git clone https://github.com/onnx/onnx.git --recursive
          export ONNX_ML=1
          cd onnx
          python setup.py install
          cd ..
        else
          if [ '$(onnx.version)' == 'test' ]
          then
            pip install typing-extensions
            pip install -i https://test.pypi.org/simple/ onnx
          else
            pip install onnx$(onnx.version)
          fi
      fi
    displayName: 'install onnx'

  - script: |
      pip install flake8
    displayName: 'install flake8'

  - script: |
      pip install $(onnxrt.version)
    displayName: 'install onnxruntime'

  - script: |
      if [ '$(onnxcc.version)' == 'git' ]
      then
        pip install git+https://github.com/microsoft/onnxconverter-common
      else
        pip install onnxconverter-common$(onnxcc.version)
      fi
    displayName: 'install onnxconverter-common'

  - script: |
      pip install -r requirements.txt
      pip install -r requirements-dev.txt
    displayName: 'install requirements'

  - script: |
      pip install -e .
    displayName: 'install'

  - script: |
      echo "---------------"
      pip show numpy
      echo "---------------"
      pip show pandas
      echo "---------------"
      pip show onnx
      echo "---------------"
      pip show onnxruntime
      echo "---------------"
      pip show onnxconverter-common
      echo "---------------"
      pip show scikit-learn
      echo "---------------"
    displayName: 'version'

  - script: |
      if [ '$(onnx.target_opset)' != '' ]
      then
        export TEST_TARGET_OPSET="$(onnx.target_opset)"
      fi
      cd tests
      python -c "import test_utils;print(test_utils.TARGET_OPSET, test_utils.TARGET_IR)"
      cd ..
    displayName: 'target_opset'

  - script: |
      if [ '$(onnx.target_opset)' != '' ]
      then
        export TEST_TARGET_OPSET="$(onnx.target_opset)"
      fi
      pytest tests --durations=0 --basetemp=temp --doctest-modules --junitxml=junit/test-results.xml
    displayName: 'pytest'

  - script: |
      conda install -c conda-forge lightgbm xgboost --no-deps
      pip install --no-deps onnxmltools  # git+https://github.com/onnx/onnxmltools.git
    displayName: 'install onnxmltools'

  - script: |
      pip install matplotlib pydot
    displayName: 'install modules for examples'
    condition: eq(variables['run.example'], '1')

  # Check flake8 after the tests to get more feedback.
  # It is checked before the tests on the windows build.
  - script: |
      flake8 skl2onnx tests tests_onnxmltools
    displayName: 'flake8'

  - script: |
      if [ '$(onnx.target_opset)' != '' ]
      then
        export TEST_TARGET_OPSET="$(onnx.target_opset)"
      fi
      if [ '$(do.bench)' == '1' ]
        then
          pip install openpyxl
          coverage run --include=skl2onnx/** tests/benchmark.py
          coverage report -m
          coverage html
      fi
    displayName: 'coverage'

  - script: |
      if [ '$(onnx.target_opset)' != '' ]
      then
        export TEST_TARGET_OPSET="$(onnx.target_opset)"
      fi
      pip install -r docs/requirements.txt
      pytest docs/tests --durations=0 --basetemp=temp --doctest-modules
    displayName: 'run documentation examples'
    condition: eq(variables['run.example'], '1')

  - script: |
      if [ '$(onnx.target_opset)' != '' ]
      then
        export TEST_TARGET_OPSET="$(onnx.target_opset)"
      fi
      if [ '$(do.bench)' == '1' ]
        then
          python tests/benchmark.py
      fi
    displayName: 'benchmark'

  - task: PublishTestResults@2
    inputs:
      testResultsFiles: '**/test-results.xml'
      testCoverageFiles: 'htmlcov/**'
      testBenchmarkFiles: 'TESTDUMP/*.xlsx'
      testRunTitle: 'Python $(python.version)'
    condition: succeededOrFailed()
