# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
- master

jobs:

- job: 'CI_Linux'
  pool:
    vmImage: 'ubuntu-latest'
  strategy:
    matrix:
      Py39-Onnx1101-Rt181-Skl0242:
        do.bench: '0'
        python.version: '3.9'
        numpy.version: '>=1.18.1'
        onnx.version: '==1.10.1'  # 'test'
        onnx.target_opset: ''
        onnxrt.version: 'onnxruntime>=1.8.1'  # '-i https://test.pypi.org/simple/ ort-nightly'
        sklearn.version: '>=0.24.2'
        onnxcc.version: '>=1.8.1'  # git
        run.example: '1'
      Py39-Onnx190-Rt180-Skl0242:
        do.bench: '0'
        python.version: '3.9'
        numpy.version: '>=1.18.1'
        onnx.version: '==1.9.0'
        onnx.target_opset: ''
        onnxrt.version: 'onnxruntime>=1.8.1'  # '-i https://test.pypi.org/simple/ ort-nightly'
        sklearn.version: '>=0.24.2'
        onnxcc.version: '>=1.8.1'  # git
        run.example: '1'
      Py39-Onnx190-Rt170-Skl0242:
        do.bench: '0'
        python.version: '3.9'
        numpy.version: '>=1.18.1'
        onnx.version: '==1.9.0'
        onnx.target_opset: ''
        onnxrt.version: 'onnxruntime==1.7.0'  # '-i https://test.pypi.org/simple/ ort-nightly'
        sklearn.version: '==0.24.2'
        onnxcc.version: '==1.8.1'  # git
        run.example: '0'
      Py38-Onnx181-Rt170-Skl0242:
        do.bench: '0'
        python.version: '3.8'
        numpy.version: '>=1.18.1'
        onnx.version: '==1.8.1'
        onnx.target_opset: ''
        onnxrt.version: 'onnxruntime==1.7.0'  # '-i https://test.pypi.org/simple/ ort-nightly'
        sklearn.version: '==0.24.2'
        onnxcc.version: '==1.7.0'  # git
        run.example: '0'
      Py38-Onnx181-Rt170-Skl0241:
        do.bench: '0'
        python.version: '3.8'
        numpy.version: '>=1.18.1'
        onnx.version: '==1.8.1'
        onnx.target_opset: ''
        onnxrt.version: 'onnxruntime==1.7.0'  # '-i https://test.pypi.org/simple/ ort-nightly'
        sklearn.version: '==0.24.1'
        onnxcc.version: '==1.7.0'  # git
        run.example: '0'
      Py38-Onnx181-Rt160-Skl0240:
        do.bench: '0'
        python.version: '3.8'
        numpy.version: '>=1.18.1'
        onnx.version: '==1.8.1'
        onnx.target_opset: ''
        onnxrt.version: 'onnxruntime==1.6.0'
        sklearn.version: '==0.24.0'
        onnxcc.version: '==1.7.0'
        run.example: '0'
      Py38-Onnx170-Rt160-Skl0240:
        do.bench: '0'
        python.version: '3.8'
        numpy.version: '>=1.18.1'
        onnx.version: '==1.7.0'
        onnx.target_opset: ''
        onnxrt.version: 'onnxruntime==1.6.0'
        sklearn.version: '==0.24.0'
        onnxcc.version: '==1.7.0'
        run.example: '0'
      Py37-Onnx170-Rt151-Skl0232:
        do.bench: '0'
        python.version: '3.7'
        numpy.version: '>=1.18.1'
        onnx.version: '==1.7.0'
        onnx.target_opset: ''
        onnxrt.version: 'onnxruntime==1.5.1'
        sklearn.version: '==0.23.2'
        onnxcc.version: '==1.7.0'
        run.example: '0'
      Py37-Onnx170-Rt140-Skl0232:
        do.bench: '0'
        python.version: '3.7'
        numpy.version: '>=1.18.1'
        onnx.version: '==1.7.0'
        onnx.target_opset: ''
        onnxrt.version: 'onnxruntime==1.4.0'  # '-i https://test.pypi.org/simple/ ort-nightly'
        sklearn.version: '==0.23.2'
        onnxcc.version: '==1.7.0'
        run.example: '0'
      Py37-Onnx170-Rt130-Skl0231:
        do.bench: '0'
        python.version: '3.7'
        numpy.version: '>=1.18.1'
        onnx.version: '==1.7.0'
        onnx.target_opset: ''
        onnxrt.version: 'onnxruntime==1.3.0'
        sklearn.version: '==0.23.1'
        onnxcc.version: '==1.7.0'
        run.example: '0'
      Py37-Onnx170-Rt120-Skl0230-Op11:
        do.bench: '0'
        python.version: '3.7'
        numpy.version: '>=1.18.1'
        onnx.version: '==1.7.0'
        onnx.target_opset: '11'
        onnxrt.version: 'onnxruntime==1.2.0'
        onnxcc.version: '==1.7.0'
        sklearn.version: '==0.23.0'
        run.example: '0'
      Py37-Onnx160-Rt120-Skl0230:
        do.bench: '0'
        python.version: '3.7'
        numpy.version: '>=1.18.1'
        onnx.version: '==1.6.0'
        onnx.target_opset: ''
        onnxcc.version: '==1.7.0'
        onnxrt.version: 'onnxruntime==1.2.0'
        sklearn.version: '==0.23.0'
        run.example: '0'
      Py37-Onnx160-Rt111-Skl0222:
        do.bench: '0'
        python.version: '3.7'
        numpy.version: '>=1.18.1'
        onnx.version: '==1.6.0'
        onnx.target_opset: ''
        onnxcc.version: '==1.7.0'
        onnxrt.version: 'onnxruntime==1.1.1'
        sklearn.version: '==0.22.2'
        run.example: '0'
      Py37-Onnx160-Rt100-Skl0213:
        do.bench: '0'
        python.version: '3.7'
        numpy.version: '==1.18.1'
        onnx.version: '==1.6.0'
        onnx.target_opset: ''
        onnxcc.version: '==1.7.0'
        onnxrt.version: 'onnxruntime==1.0.0'
        sklearn.version: '==0.21.3'
        run.example: '0'
      Py37-Onnx150-Rt050-Skl0213:
        do.bench: '0'
        python.version: '3.7'
        numpy.version: '==1.17.4'
        onnx.version: '==1.5.0'
        onnx.target_opset: ''
        onnxcc.version: '==1.7.0'
        onnxrt.version: 'onnxruntime==0.5.0'
        sklearn.version: '==0.21.3'
        run.example: '0'
    maxParallel: 3

  steps:
  - script: |
      sudo install -d -m 0777 /home/vsts/.conda/envs
    displayName: Fix Conda permissions

  - task: CondaEnvironment@1
    inputs:
      createCustomEnvironment: true
      environmentName: 'py$(python.version)'
      packageSpecs: 'python=$(python.version)'

  - script: |
      test '$(python.version)' == '3.7' && apt-get install protobuf-compiler libprotoc-dev
      conda config --set always_yes yes --set changeps1 no
      conda install -c conda-forge "numpy$(numpy.version)"
      conda install protobuf
      python -m pip install --upgrade pip
    displayName: 'Install environment'

  - script: |
      conda install "numpy$(numpy.version)"
    displayName: 'install numpy'

  - script: |
      if [ '$(sklearn.version)' == 'git' ]
        then
          git clone https://github.com/scikit-learn/scikit-learn.git --recursive
          python setup.py install
        else
          pip install scikit-learn$(sklearn.version)
      fi
    displayName: 'install scikit-learn'

  - script: |
      if [ '$(onnx.version)' == 'git' ]
        then
          git clone https://github.com/onnx/onnx.git --recursive
          export ONNX_ML=1
          cd onnx
          python setup.py install
          cd ..
        else
          if [ '$(onnx.version)' == 'test' ]
          then
            pip install typing-extensions
            pip install -i https://test.pypi.org/simple/ onnx
          else
            pip install onnx$(onnx.version)
          fi
      fi
    displayName: 'install onnx'

  - script: |
      pip install flake8
    displayName: 'install flake8'

  - script: |
      pip install $(onnxrt.version)
    displayName: 'install onnxruntime'

  - script: |
      if [ '$(onnxcc.version)' == 'git' ]
      then
        pip install git+https://github.com/microsoft/onnxconverter-common
      else
        pip install onnxconverter-common$(onnxcc.version)
      fi
    displayName: 'install onnxconverter-common'

  - script: |
      pip install -r requirements.txt
      pip install -r requirements-dev.txt
    displayName: 'install requirements'

  - script: |
      pip install -e .
    displayName: 'install'

  - script: |
      echo "---------------"
      pip show numpy
      echo "---------------"
      pip show pandas
      echo "---------------"
      pip show onnx
      echo "---------------"
      pip show onnxruntime
      echo "---------------"
      pip show onnxconverter-common
      echo "---------------"
      pip show scikit-learn
      echo "---------------"
    displayName: 'version'

  - script: |
      if [ '$(onnx.target_opset)' != '' ]
      then
        export TEST_TARGET_OPSET="$(onnx.target_opset)"
      fi
      cd tests
      python -c "from onnxruntime import __version__;print('onnxruntime', __version__)"
      python -c "from onnx import __version__;print('onnx', __version__)"
      python -c "from skl2onnx import __max_supported_opset__;print('__max_supported_opset__', __max_supported_opset__)"
      python -c "import test_utils;print('max_onnxruntime_opset', test_utils.max_onnxruntime_opset())"
      python -c "import test_utils;print('TARGET OPSET, IR', test_utils.TARGET_OPSET, test_utils.TARGET_IR)"
      python -c "import onnx.defs;print('onnx_opset_version', onnx.defs.onnx_opset_version())"
      cd ..
    displayName: 'target_opset'

  - script: |
      if [ '$(onnx.target_opset)' != '' ]
      then
        export TEST_TARGET_OPSET="$(onnx.target_opset)"
      fi
      pytest tests --durations=0 --basetemp=temp --doctest-modules --junitxml=junit/test-results.xml
    displayName: 'pytest'

  - script: |
      conda install -c conda-forge lightgbm xgboost --no-deps
      pip install xgboost lightgbm hummingbird-ml hummingbird
      pip install --no-deps git+https://github.com/microsoft/onnxconverter-common.git
      pip install --no-deps git+https://github.com/onnx/onnxmltools.git
    displayName: 'install onnxmltools'

  - script: |
      if [ '$(onnx.target_opset)' != '' ]
      then
        export TEST_TARGET_OPSET="$(onnx.target_opset)"
      fi
      pytest tests_onnxmltools --durations=0 --basetemp=temp
    displayName: 'pytest-onnxmltools'

  # Check flake8 after the tests to get more feedback.
  # It is checked before the tests on the windows build.
  - script: |
      flake8 skl2onnx tests tests_onnxmltools
    displayName: 'flake8'

  - script: |
      if [ '$(onnx.target_opset)' != '' ]
      then
        export TEST_TARGET_OPSET="$(onnx.target_opset)"
      fi
      if [ '$(do.bench)' == '1' ]
        then
          pip install openpyxl
          coverage run --include=skl2onnx/** tests/benchmark.py
          coverage report -m
          coverage html
      fi
    displayName: 'coverage'

  - script: |
      pip install -r docs/requirements.txt
      pip uninstall -y skl2onnx
      python setup.py install
      pip install --no-deps git+https://github.com/microsoft/onnxconverter-common.git
      pip install --no-deps git+https://github.com/onnx/onnxmltools.git
    displayName: 'install for documentation'
    condition: eq(variables['run.example'], '1')

  - script: |
      if [ '$(onnx.target_opset)' != '' ]
      then
        export TEST_TARGET_OPSET="$(onnx.target_opset)"
      fi
      pytest docs/tests --durations=0 --basetemp=temp --doctest-modules
    displayName: 'run documentation examples'
    condition: eq(variables['run.example'], '1')

  # dot cannot be found but is missing to build the documentation
  #- script: |
  #    if [ '$(onnx.target_opset)' != '' ]
  #    then
  #      export TEST_TARGET_OPSET="$(onnx.target_opset)"
  #    fi
  #    conda install -c anaconda graphviz
  #    python -m sphinx -j2 -v -N -T -b html -d build/doctrees docs dist/html
  #  displayName: 'build documentation'
  #  condition: eq(variables['run.example'], '1')

  - script: |
      if [ '$(onnx.target_opset)' != '' ]
      then
        export TEST_TARGET_OPSET="$(onnx.target_opset)"
      fi
      if [ '$(do.bench)' == '1' ]
        then
          python tests/benchmark.py
      fi
    displayName: 'benchmark'
    condition: eq(variables['run.example'], '0')

  - task: PublishTestResults@2
    inputs:
      testResultsFiles: '**/test-results.xml'
      testCoverageFiles: 'htmlcov/**'
      testBenchmarkFiles: 'TESTDUMP/*.xlsx'
      testRunTitle: 'Python $(python.version)'
    condition: succeededOrFailed()
