# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
- master

jobs:

- job: 'Test'
  pool:
    vmImage: 'vs2017-win2016'
  strategy:
    matrix:
      Py37-Onnx160-Rt110:
        python.version: '3.7'
        onnx.version: 'onnx==1.6.0'
        numpy.version: 'numpy>=1.17.0'
        scipy.version: 'scipy'
        onnxrt.version: '==1.1.0'
        sklearn.version: '==0.21.3'
      Py37-Onnx160-Rt100:
        python.version: '3.7'
        onnx.version: 'onnx==1.6.0'
        numpy.version: 'numpy>=1.17.0'
        scipy.version: 'scipy'
        onnxrt.version: '==1.0.0'
        sklearn.version: '==0.21.3'
      Py37-Onnx150-Rt050:
        python.version: '3.7'
        onnx.version: 'onnx==1.5.0'
        numpy.version: 'numpy>=1.17.0'
        scipy.version: 'scipy'
        onnxrt.version: '==0.5.0'
        sklearn.version: '==0.21.3'
      Py37-Onnx140-Rt040:
        python.version: '3.7'
        onnx.version: 'onnx==1.4.0'
        numpy.version: 'numpy>=1.17.0'
        scipy.version: 'scipy'
        onnxrt.version: '==0.4.0'
        sklearn.version: '==0.21.3'
      Py36-Onnx130-Rt021:
        python.version: '3.6.7'
        onnx.version: 'onnx==1.3.0'
        numpy.version: 'numpy>=1.16.0'
        scipy.version: 'scipy'
        onnxrt.version: '==0.2.1'
        sklearn.version: '==0.20.3'        
    maxParallel: 3

  steps:
  - powershell: Write-Host "##vso[task.prependpath]$env:CONDA\Scripts"
    displayName: Add conda to PATH

  - script: conda create --yes --quiet --name skl2onnxEnvironment $(numpy.version) $(scipy.version) pandas python=$(python.version)
    displayName: Create Anaconda environment

  - script: |
      call activate skl2onnxEnvironment
      conda install --yes --quiet --name skl2onnxEnvironment
    displayName: Install Anaconda packages

  - script: |
      call activate skl2onnxEnvironment
      python -m pip install --upgrade pip
      conda install -y -c conda-forge protobuf
      pip install $(onnx.version)
      pip install onnxruntime$(onnxrt.version)
      pip install pytest
    displayName: 'Install onnx onnxruntime pytest'

  - script: |
      call activate skl2onnxEnvironment
      python -c "import numpy"
    displayName: 'check numpy'

  - script: |
      call activate skl2onnxEnvironment
      conda install scikit-learn$(sklearn.version)
    displayName: 'install scikit-learn'

  - script: |
      python -c "import numpy"
    displayName: 'check numpy'

  - script: |
      call activate skl2onnxEnvironment
      pip install flake8
    displayName: 'install flake8'

  - script: |
      call activate skl2onnxEnvironment
      flake8 skl2onnx tests tests_onnxmltools
    displayName: 'flake8'

  - script: |
      call activate skl2onnxEnvironment
      git clone https://github.com/microsoft/onnxconverter-common
      cd onnxconverter-common
      pip install -e .
      cd ..
    displayName: 'install requirements'

  - script: |
      call activate skl2onnxEnvironment
      pip install -r requirements.txt
    displayName: 'install requirements'

  - script: |
      python -c "import numpy"
    displayName: 'check numpy'

  - script: |
      python -c "import numpy"
    displayName: 'check numpy'

  - script: |
      pip install -e .
    displayName: 'install skl2onnx'

  - script: |
      python -c "import numpy"
    displayName: 'check numpy'

  - script: |
      pytest tests --durations=0 --basetemp=temp --doctest-modules --junitxml=junit/test-results.xml
    displayName: 'pytest'

  - script: |
      pip install lightgbm xgboost
      pip install onnxmltools --no-deps
    displayName: 'install onnxmltools'

  - task: PublishTestResults@2
    inputs:
      testResultsFiles: '**/test-results.xml'
      testCoverageFiles: 'htmlcov/**'
      testRunTitle: 'Python $(python.version)'
    condition: succeededOrFailed()
