# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
- master

jobs:

- job: 'Test'
  pool:
    vmImage: 'windows-latest'
  strategy:
    matrix:
      Py39-Onnx1102-nightlyRT-SkLatest:
        python.version: '3.9'
        onnx.version: 'onnx==1.10.2'
        numpy.version: 'numpy>=1.18.1'
        scipy.version: 'scipy'
        onnxrt.version: '-i https://test.pypi.org/simple/ ort-nightly'
        sklearn.version: '>=1.0'
      Py39-Onnx190-nightlyRT-SkLatest:
        python.version: '3.9'
        onnx.version: 'onnx==1.9.1'
        numpy.version: 'numpy>=1.18.1'
        scipy.version: 'scipy'
        onnxrt.version: '-i https://test.pypi.org/simple/ ort-nightly'
        sklearn.version: '>=1.0'
      Py39-Onnx180-nightlyRT-SkLatest:
        python.version: '3.9'
        onnx.version: 'onnx==1.8.1'
        numpy.version: 'numpy>=1.18.1'
        scipy.version: 'scipy'
        onnxrt.version: '-i https://test.pypi.org/simple/ ort-nightly'
        sklearn.version: '>=1.0'
      Py38-Onnx170-nightlyRT-Sk0242:
        python.version: '3.8'
        onnx.version: 'onnx==1.7.0'
        numpy.version: 'numpy>=1.18.1'
        scipy.version: 'scipy'
        onnxrt.version: '-i https://test.pypi.org/simple/ ort-nightly'
        sklearn.version: '==0.24.2'
      Py37-Onnx160-nightlyRT-Npy1180-Sk0232:
        python.version: '3.7'
        onnx.version: 'onnx==1.6.0'
        numpy.version: 'numpy==1.18.1'
        scipy.version: 'scipy'
        onnxrt.version: '-i https://test.pypi.org/simple/ ort-nightly'
        sklearn.version: '==0.23.2'
    maxParallel: 3

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
      architecture: 'x64'

  - powershell: Write-Host "##vso[task.prependpath]$env:CONDA\Scripts"
    displayName: Add conda to PATH

  - script: conda create --yes --quiet --name py$(python.version) -c conda-forge python=$(python.version) protobuf
    displayName: Create Anaconda environment

  - script: |
      call activate py$(python.version)
      python -m pip install --upgrade pip
      conda install $(numpy.version) $(scipy.version)
      pip install $(onnx.version)
      pip install openpyxl cerberus
    displayName: 'Install numpy, scipy, onnx'

  - script: |
      call activate py$(python.version)
      pip install -r requirements.txt
      git clone https://github.com/microsoft/onnxconverter-common
      cd onnxconverter-common
      pip install -e .
      cd ..
      pip install -r requirements-dev.txt
      pip install pytest
    displayName: 'install requirements'

  - script: |
      call activate py$(python.version)
      pip install $(onnx.version)
      pip install flatbuffers
      pip install $(onnxrt.version)
    displayName: 'install onnx, onnxruntime'

  - script: |
      call activate py$(python.version)
      conda install scikit-learn$(sklearn.version)
    displayName: 'install scikit-learn'

  - script: |
      call activate py$(python.version)
      pip install -e .
    displayName: 'install skl2onnx'

  - script: |
      call activate py$(python.version)
      python -c "import numpy;print('numpy:',numpy.__version__)"
      python -c "import scipy;print('scipy:',scipy.__version__)"
      python -c "import sklearn;print('sklearn:',sklearn.__version__)"
      python -c "import onnx;print('onnx:',onnx.__version__)"
      python -c "import onnxconverter_common;print('onnxconverter-common:',onnxconverter_common.__version__)"
      python -c "import onnxruntime;print('onnxruntime:',onnxruntime.__version__)"
    displayName: 'version'

  - script: |
      call activate py$(python.version)
      pytest tests --durations=0 --basetemp=temp --doctest-modules --junitxml=junit/test-results.xml
    displayName: 'pytest'

  - script: |
      call activate py$(python.version)
      python -m pip install openpyxl
      python tests/benchmark.py
    displayName: 'benchmark'

  - task: PublishTestResults@2
    inputs:
      testResultsFiles: '**/test-results.xml'
      testCoverageFiles: 'htmlcov/**'
      testBenchmarkFiles: 'TESTDUMP/*.xlsx'
      testRunTitle: 'Python $(python.version)'
    condition: succeededOrFailed()
