# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
- master

jobs:

- job: 'Test'
  pool:
    vmImage: 'vs2017-win2016'
  strategy:
    matrix:
      Py37-Onnx170-Rt130-Skl0230:
        python.version: '3.7'
        # onnx.version: '-i https://test.pypi.org/simple/ onnx'
        onnx.version: 'onnx==1.7.0'
        onnx.target_opset: ''
        numpy.version: 'numpy>=1.18.1'
        scipy.version: 'scipy'
        onnxrt.version: 'onnxruntime==1.3.0' # -i https://test.pypi.org/simple/ ort-nightly'
        onnxcc.version: 'git+https://github.com/microsoft/onnxconverter-common.git'
        sklearn.version: '==0.23.0'
        run.example: '1'
        run.onnxmltools : '1'
      Py37-Onnx160-Rt120-Skl0221:
        python.version: '3.7'
        onnx.version: 'onnx==1.6.0'
        onnx.target_opset: ''
        numpy.version: 'numpy==1.18.1'
        scipy.version: 'scipy'
        onnxrt.version: 'onnxruntime==1.2.0'
        onnxcc.version: 'onnxconverter-common==1.6.1'
        sklearn.version: '==0.22.1'
        run.example: '0'
        run.onnxmltools : '0'
      Py37-Onnx160-Rt110-Skl0220:
        python.version: '3.7'
        onnx.version: 'onnx==1.6.0'
        onnx.target_opset: ''
        numpy.version: 'numpy>=1.17.0'
        scipy.version: 'scipy'
        onnxrt.version: 'onnxruntime==1.1.0'
        onnxcc.version: 'onnxconverter-common==1.6.1'
        sklearn.version: '==0.22.0'
        run.example: '0'
        run.onnxmltools : '0'
      Py37-Onnx160-Rt100-Skl0213:
        python.version: '3.7'
        onnx.version: 'onnx==1.6.0'
        onnx.target_opset: ''
        numpy.version: 'numpy>=1.17.0'
        scipy.version: 'scipy'
        onnxrt.version: 'onnxruntime==1.0.0'
        onnxcc.version: 'onnxconverter-common==1.6.1'
        sklearn.version: '==0.21.3'
        run.example: '0'
        run.onnxmltools : '0'
      Py37-Onnx150-Rt050-Skl0213:
        python.version: '3.7'
        onnx.version: 'onnx==1.5.0'
        onnx.target_opset: ''
        numpy.version: 'numpy>=1.17.0'
        scipy.version: 'scipy'
        onnxrt.version: 'onnxruntime==0.5.0'
        onnxcc.version: 'onnxconverter-common==1.6.1'
        sklearn.version: '==0.21.3'
        run.example: '0'
        run.onnxmltools : '0'
      Py36-Onnx141-Rt040-Skl0213:
        python.version: '3.6'
        onnx.version: 'onnx==1.4.1'
        onnx.target_opset: ''
        numpy.version: 'numpy>=1.17.0'
        scipy.version: 'scipy'
        onnxrt.version: 'onnxruntime==0.4.0'
        onnxcc.version: 'onnxconverter-common==1.6.1'
        sklearn.version: '==0.21.3'
        run.example: '0'
        run.onnxmltools : '0'
      Py36-Onnx130-Rt021-Skl0203:
        python.version: '3.6'
        onnx.version: 'onnx==1.3.0'
        onnx.target_opset: ''
        numpy.version: 'numpy>=1.16.0'
        scipy.version: 'scipy'
        onnxrt.version: 'onnxruntime==0.2.1'
        onnxcc.version: 'onnxconverter-common==1.6.1'
        sklearn.version: '==0.20.3'        
        run.example: '0'
        run.onnxmltools : '0'
    maxParallel: 3

  steps:
  - powershell: Write-Host "##vso[task.prependpath]$env:CONDA\Scripts"
    displayName: Add conda to PATH

  - script: conda create --yes --quiet --name skl2onnxEnvironment $(numpy.version) $(scipy.version) pandas python=$(python.version) pytest
    displayName: Create Anaconda environment

  - script: |
      call activate skl2onnxEnvironment
      python -m pip install --upgrade pip
      conda install -y -c conda-forge protobuf
    displayName: 'Install protobuf'

  - script: |
      call activate skl2onnxEnvironment
      python -m pip install typing-extensions
      python -m pip install $(onnx.version)
    displayName: 'Install onnx'

  - script: |
      call activate skl2onnxEnvironment
      python -m pip install $(onnxrt.version)
    displayName: 'Install onnxruntime'

  - script: |
      call activate skl2onnxEnvironment
      python -c "import numpy"
    displayName: 'check numpy'

  - script: |
      call activate skl2onnxEnvironment
      # latest version of scikit-learn are not available on conda
      pip install scikit-learn$(sklearn.version)
    displayName: 'install scikit-learn'

  - script: |
      call activate skl2onnxEnvironment
      python -c "import numpy"
    displayName: 'check numpy'

  - script: |
      call activate skl2onnxEnvironment
      pip install flake8
    displayName: 'install flake8'

  - script: |
      call activate skl2onnxEnvironment
      flake8 skl2onnx tests tests_onnxmltools
    displayName: 'flake8'

  - script: |
      call activate skl2onnxEnvironment
      pip install $(onnxcc.version)
    displayName: 'install onnxconverter-common'

  - script: |
      call activate skl2onnxEnvironment
      pip install -r requirements.txt
      pip install -r requirements-dev.txt
    displayName: 'install requirements'

  - script: |
      call activate skl2onnxEnvironment
      pip install -e .
    displayName: 'install skl2onnx'

  - script: |
      call activate skl2onnxEnvironment
      python -c "import numpy"
    displayName: 'check numpy'

  - script: |
      call activate skl2onnxEnvironment
      if "$(onnx.target_opset)" neq "" set TEST_TARGET_OPSET=$(onnx.target_opset)
      cd tests
      python -c "import test_utils;print(test_utils.TARGET_OPSET, test_utils.TARGET_IR)"
      cd ..
    displayName: 'target_opset'

  - script: |
      call activate skl2onnxEnvironment
      if "$(onnx.target_opset)" neq "" set TEST_TARGET_OPSET=$(onnx.target_opset)
      python -m pytest tests --durations=0 --basetemp=temp --doctest-modules --junitxml=junit/test-results.xml
    displayName: 'pytest'

  - script: |
      call activate skl2onnxEnvironment
      if "$(onnx.target_opset)" neq "" set TEST_TARGET_OPSET=$(onnx.target_opset)
      pip install lightgbm xgboost
      pip install onnxmltools --no-deps
    displayName: 'install onnxmltools'

  - script: |
      call activate skl2onnxEnvironment
      if "$(onnx.target_opset)" neq "" set TEST_TARGET_OPSET=$(onnx.target_opset)
      python -m pip install git+https://github.com/onnx/onnxmltools.git@i396xgb
      python -m pytest tests_onnxmltools --durations=0 --basetemp=temp --doctest-modules --junitxml=junit/test-results-onnxmltools.xml
    displayName: 'run onnxmltools tests'
    condition: eq(variables['run.onnxmltools'], '1')

  - script: |
      call activate skl2onnxEnvironment
      if "$(onnx.target_opset)" neq "" set TEST_TARGET_OPSET=$(onnx.target_opset)
      python -m pytest docs/tests --durations=0 --basetemp=temp --doctest-modules
    displayName: 'run examples'
    condition: eq(variables['run.example'], '1')

  - task: PublishTestResults@2
    inputs:
      testResultsFiles: '**/test-results.xml'
      testCoverageFiles: 'htmlcov/**'
      testRunTitle: 'Python $(python.version)'
    condition: succeededOrFailed()
