# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
- master

jobs:

- job: 'Test'
  pool:
    vmImage: 'vs2017-win2016'
  strategy:
    matrix:
      Py37-OnnxTest-Rt120-022:
        python.version: '3.7'
        onnx.version: '-i https://test.pypi.org/simple/ onnx'
        numpy.version: 'numpy>=1.18.1'
        scipy.version: 'scipy'
        onnxrt.version: '==1.2.0'
        sklearn.version: '>=0.22.1'
      Py37-Onnx160-Rt100-Npy1173-021:
        do.bench: '1'
        python.version: '3.7'
        onnx.version: 'onnx==1.6.0'
        numpy.version: 'numpy==1.17.3'
        scipy.version: 'scipy'
        onnxrt.version: '==1.0.0'
        sklearn.version: '==0.21.3'
      Py37-Onnx150-Rt050-Npy1172:
        do.bench: '1'
        python.version: '3.7'
        onnx.version: 'onnx==1.5.0'
        numpy.version: 'numpy==1.17.2'
        scipy.version: 'scipy'
        onnxrt.version: '==0.5.0'
        sklearn.version: '==0.21.3'
      Py37-Onnx150-Rt040-Npy1170:
        do.bench: '1'
        python.version: '3.7'
        onnx.version: 'onnx==1.5.0'
        numpy.version: 'numpy==1.17.0'
        scipy.version: 'scipy'
        onnxrt.version: '==0.4.0'
        sklearn.version: '==0.21.3'
      Py36-Onnx130-Rt021-Npy1170:
        do.bench: '0'
        python.version: '3.6.7'
        onnx.version: 'onnx==1.3.0'
        numpy.version: 'numpy==1.17.0'
        scipy.version: 'scipy'
        onnxrt.version: '==0.2.1'
        sklearn.version: '==0.20.3'        
    maxParallel: 3

  steps:
  - powershell: Write-Host "##vso[task.prependpath]$env:CONDA\Scripts"
    displayName: Add conda to PATH

  - script: conda create --yes --quiet --name skl2onnxEnvironment
    displayName: Create Anaconda environment

  - script: |
      call activate skl2onnxEnvironment
      conda install --yes --quiet --name skl2onnxEnvironment python=$(python.version)
    displayName: Install Anaconda packages

  - script: |
      conda install -y -c conda-forge protobuf
      pip install $(numpy.version)
      pip install $(scipy.version)
      pip install $(onnx.version)
      pip install pandas
    displayName: 'Install numpy, scipy, onnx, pandas'

  - script: |
      pip install scikit-learn$(sklearn.version)
    displayName: 'install scikit-learn'

  - script: |
      pip install flake8
    displayName: 'install flake8'

#  - script: |
#      flake8 skl2onnx tests tests_onnxmltools
#    displayName: 'flake8'

  - script: |
      pip install -r requirements.txt
      git clone https://github.com/microsoft/onnxconverter-common
      cd onnxconverter-common
      pip install -e .
      cd ..
      pip install pytest
    displayName: 'install requirements'

  - script: |
      pip install onnxruntime$(onnxrt.version)
    displayName: 'install onnxruntime'

  - script: |
      pip install -e .
    displayName: 'install skl2onnx'

  - script: |
      pytest tests --basetemp=temp --doctest-modules --junitxml=junit/test-results.xml
    displayName: 'pytest'

#  - script: |
#      pip install lightgbm xgboost
#      pip install onnxmltools --no-deps
#    displayName: 'install onnxmltools'
#
#  - script: |
#      pytest tests_onnxmltools
#    displayName: 'pytest-onnxmltools'
#    condition: ne(variables['onnxrt.version'], '==0.2.1')
#
#  - script: |
#      pip install matplotlib pydot
#    displayName: 'install modules for examples'
#    condition: eq(variables['onnxrt.version'], '==0.5.0')
#
#  - script: |
#      pytest docs/tests
#    displayName: 'pytest-examples'
#    condition: eq(variables['onnxrt.version'], '==0.5.0')

  - task: PublishTestResults@2
    inputs:
      testResultsFiles: '**/test-results.xml'
      testCoverageFiles: 'htmlcov/**'
      testBenchmarkFiles: 'TESTDUMP/*.xlsx'
      testRunTitle: 'Python $(python.version)'
    condition: succeededOrFailed()
